{% extends "base.html" %}
{% load static %}

{% block title %}{{ group.name }} | StudySync{% endblock %}

{% block content %}
<group-page
  :group='{"id": 1, "name": "Data Structures Study Group", "member_count": 24, "max_members": 50, "is_active": true, "creator": {"id": 2}, "group_type": "course", "study_day": "Monday", "start_time": "16:00", "end_time": "18:00"}'
  :members='[{"id": 1, "username": "Alex Chen", "isOnline": true, "role": "Creator"}, {"id": 2, "username": "Maria R", "isOnline": true, "role": "Member"}, {"id": 3, "username": "David Wang", "isOnline": true, "role": "Member"}, {"id": 4, "username": "James Kim", "isOnline": false, "role": "Member"}]'
  :posts='[{"id": 1, "author": {"id": 2, "username": "Alex Chen", "isOnline": true}, "content": "🎉 Just finished implementing a balanced binary tree in Python!", "isHot": true, "likesCount": 24, "isLiked": false, "comments": []}]'
  :current-user='{"id": 3, "username": "David Wang"}'
></group-page>
{% endblock %}